datasets==2.11.0
dill==0.3.6
ferret==0.8.0
huggingface-hub==0.13.4
install==1.3.5
ipython==7.34.0
matplotlib==3.7.1
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
numba==0.56.4
numpy==1.23.5
pandas==2.0.0
pep517==0.13.0
scikit-learn==1.2.2
scipy==1.10.1
shap==0.41.0
slicer==0.0.7
sympy==1.11.1
tokenizers==0.13.3
torch==2.0.0
tqdm==4.65.0
transformers==4.27.4
transformers-interpret==0.10.0
urllib3==1.26.15